<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">

      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">

      </div>
    </div>
  </div>
  <div class="container-fluid">

    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">
            <h2><strong>My Libraries</strong></h2>
            <ul class="header-dropdown">

              <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
              </li>
            </ul>
          </div>
          <div class="body">
            <!--Buttons for adding, sharing, deleting,renaming and changing active library-->
            <a href="#addLibraryModal" data-toggle="modal" data-target="#addLibraryModal" title="Add Library"
              class="btn btn-primary btn-round waves-effect">Add Library</a>
            <a href="#shareSelectedModal" data-toggle="modal" data-target="#shareSelectedModal" title="Share Selected"
              (click)="getUsersList()" class="btn btn-primary btn-round waves-effect">Share Selected</a>
            <a href="#deleteModal" data-toggle="modal" data-target="#deleteModal" title="Delete Selected"
              class="btn btn-primary btn-round waves-effect">Delete Selected</a>
            <a href="#renameModal" data-toggle="modal" data-target="#renameModal" title="Rename Selected"
              class="btn btn-primary btn-round waves-effect">Rename Selected</a>
            <a href="#activeModal" data-toggle="modal" data-target="#activeModal" title="Change active library"
              class="btn btn-primary btn-round waves-effect">Change active Library</a>
            <div class="table-responsive">
              <!--Setting the properties of the ng2-smart-table-->
              <ng2-smart-table [settings]="settings" [source]="rows" (custom)="onCustom($event)"
                (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Popup to be displayed when the user clicks on rename library button-->
<div class="modal fade" id="renameModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="renameModalLabel">Rename Library</h4>
      </div>
      <div class="modal-body">
        <form *ngIf="checkedRows !== undefined && checkedRows.length>0;">
          <label for="library_name">Enter new library name</label>
          <div class="form-group">
            <input type="text" id="library_name" class="form-control" name="newLibraryName" [(ngModel)]="newLibraryName"
              placeholder="Enter new library name">
          </div>

        </form>
        <!--Label to be displayed if the user has not selected any row from the table -->
        <label *ngIf="checkedRows === undefined || checkedRows.length==0;">Please select atleast one library to
          delete</label>

      </div>
      <div class="modal-footer">
        <!--Rename button is displayed only if the user has selected any row of the table-->
        <a *ngIf="checkedRows !== undefined && checkedRows.length>0;" href="#displayMessage" data-toggle="modal"
          (click)="renameLibrary()" data-target="#displayMessage"> <button type="button"
            class="btn btn-primary btn-round waves-effect" (click)="renameLibrary()"
            data-dismiss="modal">Rename</button></a>
        <button *ngIf="checkedRows === undefined || checkedRows.length==0;" type="button"
          class="btn btn-primary btn-round waves-effect" data-dismiss="modal">Ok</button>
        <button *ngIf="checkedRows !== undefined && checkedRows.length>0;" type="button"
          class="btn btn-danger  btn-round waves-effect" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!--Pop up to be shown when the user clicks on delete library button-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="deleteModalLabel">Delete Library</h4>
      </div>
      <div class="modal-body">
        <form>
          <!--Message to be displayed when user has selected atleast one row of the table-->
          <label *ngIf="checkedRows !== undefined && checkedRows.length>0;">Are you sure you want to delete the selected
            library(ies)
          </label>
          <!--Message to be displayed when user has not selected any row of the table-->
          <label *ngIf="checkedRows === undefined || checkedRows.length==0;">Please select atleast one library to
            delete</label>

        </form>
      </div>
      <div class="modal-footer">
        <!--Yes and No button are displayed only if the user has selected atleast one row of the table, otherwise Ok button is displayed-->
        <a *ngIf="checkedRows !== undefined && checkedRows.length>0;" href="#moveReferences" data-toggle="modal"
          data-target="#moveReferences"><button type="button" class="btn btn-primary btn-round waves-effect"
            data-dismiss="modal">Yes</button></a>
        <button *ngIf="checkedRows === undefined || checkedRows.length==0;" type="button"
          class="btn btn-primary btn-round waves-effect" data-dismiss="modal">Ok</button>
        <button *ngIf="checkedRows !== undefined && checkedRows.length>0;" type="button"
          class="btn btn-danger btn-round waves-effect" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<!--Popup to be displayed when the user clicks on Change active directory button-->
<div class="modal fade" id="activeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="activeModalLabel">Change Active Directory</h4>
      </div>
      <div class="modal-body">
        <form>

          <label *ngIf="checkedRows !== undefined;">Are you sure you want to make the library
            {{checkedRows[0].name}} as active ibrary?</label>

        </form>
      </div>
      <div class="modal-footer">
        <a (click)="changeActiveLibrary()"><button type="button" class="btn btn-primary btn-round waves-effect"
            data-dismiss="modal">Yes</button></a>
        <button type="button" class="btn btn-danger btn-round waves-effect" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!--Pop up to allow user to select the library where the references of the deleted library should be moved after the user
confirms the deletion of the library-->

<div class="modal fade" id="moveReferences" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="moveReferencesLabel">Delete Library(ies)</h4>
      </div>
      <div class="modal-body">
        <form>
          <label for="selectlibraryName">Please select the library where you would like the references of the library to
            be moved</label>
          <div class="form-group">
            <div class="modal-body">
              <ng-select [options]="trashOrUnfiledLibraryForReferences" [styleGuide]="styleGuide"
                name="selectedLibraryForDeletion" [(ngModel)]="selectedLibraryForDeletion"></ng-select>
            </div>
          </div>



        </form>
      </div>
      <div class="modal-footer">
        <!--Shows displayMessage popup once the user clicks on Ok button-->
        <a href="#displayMessage" data-toggle="modal" (click)="deleteLibrary()" data-target="#displayMessage"> <button
            type="button" class="btn btn-primary btn-round waves-effect" (click)="deleteLibrary()" data-dismiss="modal">
            Delete</button></a>

        <button type="button" class="btn btn-danger btn-round waves-effect" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!--Popup to be displayed when the user clicks on Share Selected button. It allows users to select the users with whom
they want to share the library they own-->
<div class="modal fade" id="shareSelectedModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="shareSelectedModalLabel">Share library</h4>
      </div>
      <div class="modal-body">

        <label *ngIf="checkedRows!==undefined && checkedRows.length>0">Please select the users with whom you want to
          share the selected libraries</label>

        <label *ngIf="checkedRows===undefined || checkedRows.length==0">Please select atleast one library to
          share</label>
        <div class="modal-body">


          <!--Multiselect dropdown to display the registered users with whom the logged in user can share the libraries they own-->
          <ng-multiselect-dropdown *ngIf="checkedRows!==undefined && checkedRows.length>0"
            [placeholder]="'Select User(s)'" [data]="dropdownList" [(ngModel)]="selectedItems"
            [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </div>






      </div>
      <!--Share button will be shown only if the user has selected atleast one library from the table
      and it will be enabled only if the user has selected atleast one user for sharing tbhe library-->
      <div class="modal-footer">
        <a *ngIf="checkedRows!==undefined && checkedRows.length>0" href="#displayMessage" data-toggle="modal"
          (click)="shareLibrary()" data-target="#displayMessage"> <button
            [disabled]="selectedItems===undefined ||selectedItems.length==0" type="button"
            class="btn btn-primary btn-round waves-effect" (click)="shareLibrary()" data-dismiss="modal">
            Share</button></a>

        <button *ngIf="checkedRows===undefined || checkedRows.length==0" type="button"
          class="btn btn-primary btn-round waves-effect" data-dismiss="modal">
          Ok</button>
        <button *ngIf="checkedRows!==undefined && checkedRows.length>0" type="button"
          class="btn btn-danger btn-round waves-effect" data-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>

<!--Pop up to allow user to enter the library name for creating a new library when the user clicks on Add library button-->
<div class="modal fade" id="addLibraryModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="addLibraryModalLabel">Add a new Library</h4>
      </div>
      <div class="modal-body">
        <form>
          <label for="library_name">Library Name</label>
          <div class="form-group">
            <input type="text" id="library_name" class="form-control" name="libraryName" [(ngModel)]="libraryName"
              placeholder="Enter library name">
          </div>



        </form>
      </div>
      <div class="modal-footer">
        <a href="#displayMessage" data-toggle="modal" data-target="#displayMessage"><button type="button"
            class="btn btn-primary btn-round waves-effect" data-dismiss="modal" (click)="createLibrary()">Create
            Library</button></a>

        <button type="button" class="btn btn-danger  btn-round waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>

<!--Pop up to be displayed after user has performed certain action(Adding/Deleting/Renaming/Sharing one or more libraries
  ) It mainly displays the message received from api-->

<div class="modal fade" id="displayMessage" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="displayMessageLabel">Message</h4>
      </div>
      <div class="modal-body">
        <form>
          <label>{{message}}</label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal">Ok</button>


      </div>
    </div>
  </div>
</div>