/**Styling the error message */
.error{
    color: #D8000C;
    align-content: center;
    display:block;
}

/**Increasing the width of the main card  */
.authentication .card-plain {
   
    max-width: 730px!important;
}

/**Styling the help block in case validation fails */
.help-block
{
    color:red;
}