<!--Class taken from the themeforest angular project-->
<div class="authentication sidebar-collapse">
   
    <div class="page-header">
      <div class="container">
        <div class="col-lg-12 content-center">
          <div class="card-plain">
            <form class="form form-horizontal">
              <div class="header">
                <div class="logo-container expandUp">
                  <!--Changed logo for yhe bibliography manager-->
                    <img src="assets/images/bibliographyicon.png" alt="">
                </div>
                <h5>Forgot Password?</h5>
                <span class="text-muted" *ngIf="errorMessage === '' && successMessage===''">Enter your e-mail address below to reset your password.</span>
                <!--Displaying error message received from api-->
                <span class="error">{{errorMessage}}</span>
              </div>
              <div class="content">
                 <!--Adding form in error class in case email field is touched and left blank or in not valid and -->
                  <div class="form-group row clearfix"[class.has-error]="mail.invalid && mail.touched">
                      <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                          <label for="email">Email</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8">
                          <div class="form-group">
                            <input id="email" #mail="ngModel" required [email]="email!==''" type="text" class="form-control" placeholder="Enter Email" name="email" [(ngModel)]= "email">
                          </div>
                          <!--Displaying validation error in case email field is touched and left blank-->
                          <span class="help-block" *ngIf= "mail.errors?.required && mail.touched">Email is required</span>
                          <!--Displaying validation error in case email field is touched and not valid-->
                          <span class="help-block" *ngIf= "mail.errors?.email && mail.touched">Email is Invalid</span>
                        </div>
                   
                  </div>
             
              
              
               
              </div>
              <!--Disabling verify button until the user provides valid input for email field-->
              <div class="footer">
                <button type="submit" (click)="verify()" 
                [disabled]="mail.invalid"  class="btn btn-primary btn-round btn-lg btn-block waves-effect waves-light">Submit</button>
                
              </div>
            </form>
          </div>
        </div>
      </div>
     
    </div>
  </div>