
<div class="authentication sidebar-collapse">

  <div class="page-header">
    <div class="container">
      <div class="col-lg-12 content-center">
        <div class="card-plain">
          <form class="form form-horizontal">
            <div class="header">
              <div class="logo-container expandUp">
                <!--Changing the logo for bibliography manager-->
                <img src="assets/images/bibliographyicon.png" alt="">
              </div>
              <h5>Sign Up</h5>
              <!--Displaying message in case the login fails-->
              <span class="error">{{errorMessage}}</span>
            </div>
            <div class="content">

              <div class="form-group row clearfix" [class.has-error]="uname.invalid && uname.touched">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="userName">User Name</label>
                </div>
                <!--Adding required validation for the userName field and showing error in case the validation fails-->
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                    <input id="userName" #uname="ngModel" required type="text" class="form-control"
                      placeholder="Enter User Name" name="userName" [(ngModel)]="userName">
                  </div>
                  <span class="help-block" *ngIf="uname.invalid && uname.touched">UserName is required</span>
                </div>

              </div>
              <div class="form-group row clearfix" [class.has-error]="mail.invalid && mail.touched">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="email">Email</label>
                </div>
                <!--Adding required and email validation for the email field and showing error in case the validation fails-->
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                    <input id="email" #mail="ngModel" required [email]="email!==''" type="text" class="form-control"
                      placeholder="Enter Email" name="email" [(ngModel)]="email">
                  </div>
                  <span class="help-block" *ngIf="mail.errors?.required && mail.touched">Email is required</span>
                  <span class="help-block" *ngIf="mail.errors?.email && mail.touched">Email is Invalid</span>
                </div>

              </div>
              <div class="form-group row clearfix" [class.has-error]="pwd.invalid && pwd.touched">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="password">Password</label>
                </div>
                <!--Adding required validation for the password field and showing error in case the validation fails-->
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                    <input id="password" #pwd="ngModel" required type="password" class="form-control"
                      placeholder="Enter Password" name="password" [(ngModel)]="password">
                  </div>
                  <span class="help-block" *ngIf="pwd.invalid && pwd.touched">Password is required</span>
                </div>

              </div>
              <div class="form-group row clearfix" [class.has-error]="cpwd.invalid && cpwd.touched">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="confirmPassword">Confirm Password</label>
                </div>
                <!--Adding required validation for the confirm password field and showing error in case the validation fails-->
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                    <input id="confirmPassword" #cpwd="ngModel" required type="password" class="form-control"
                      placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword">
                  </div>
                  <span class="help-block" *ngIf="cpwd.invalid && cpwd.touched">Confirm Password is required</span>
                </div>

              </div>

            </div>
            <!--Disabling the submit button in case of the validation fails-->
            <div class="footer">
              <button (click)="signup()" type="submit"
                [disabled]="pwd.invalid || cpwd.invalid || mail.invalid || uname.invalid"
                class="btn btn-primary btn-round btn-lg btn-block waves-effect waves-light">SIGN UP</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>