
.authentication .card-plain {
    border-radius: .55rem;
    padding-bottom: .7rem;
    max-width: 730px;
}
.help-block
{
    color:red;
}
.error{
    color: #D8000C;
    align-content: center;
    display:block;
}