<div class="overlay" *ngIf="isLoggedIn"></div>
<!-- Top Bar -->
<nav class="navbar" *ngIf="isLoggedIn">
    <ul class="nav navbar-nav navbar-left">
        <li>
            <div class="navbar-header">

            </div>
        </li>
        <li>

        </li>
        <li>
            <h4 class="bibTitle">Bibliograhy Manager</h4>
        </li>


        <li class="float-right dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"><i
                    class="zmdi zmdi-power"></i></a>
            <ul class="dropdown-menu dropdown-menu-right slideUp float-right">

                <li><a routerLink="/signin" (click)="deleteSession()">Log out</a></li>



            </ul>
        </li>



    </ul>

</nav>
<div *ngIf="isLoggedIn">



    <!-- Left Sidebar menu showing all the items that a logged in user can see -->
    <div>
        <div>
            <aside id="leftsidebar" class="sidebar">
                <div class="menu">
                    <ul class="list">




                        <li class="header"></li>

                        <li><a routerLink="/library/showLibraries"><i class="zmdi zmdi-library"></i><span>My
                                    libraries</span></a>

                        </li>
                        <li><a routerLink="/library/activeLibrary"><i class="zmdi zmdi-library"></i><span>Active
                                    Library</span></a>

                        </li>
                        <li><a routerLink="/library/trashLibrary"><i class="zmdi zmdi-library"></i><span>Trash
                                    Library</span></a>

                        </li>
                        <li><a routerLink="/library/unFiledLibrary"><i class="zmdi zmdi-library"></i><span>Unfiled
                                    Library</span></a>

                        </li>
                        <li><a routerLink="/library/sharedWithMe"><i class="zmdi zmdi-library"></i><span>Libraries
                                    Shared With Me</span></a>

                        </li>
                        <li><a routerLink="/library/sharedByMe"><i class="zmdi zmdi-library"></i><span>Libraries Shared
                                    By Me</span></a>

                        </li>
                        <li><a routerLink="/library/seeAllreferences"><i class="zmdi zmdi-library"></i><span>See All
                                    References</span></a>

                        </li>
                        <li><a routerLink="/library/myAccount"><i class="zmdi zmdi-library"></i><span>My
                                    Account</span></a>

                        </li>


                    </ul>
                </div>
            </aside>
        </div>




    </div>
</div>


<router-outlet></router-outlet>