
.navbar-nav.navbar-left .dropdown-menu {
    left: auto;
    right: 0;
    position: absolute;
    
}

/** Adding hovering and sctive background for the list items */
li a:hover {
    background-color: #49c5b6 !important;
    color: #fff !important;
}
li a:active {
    background-color: #49c5b6 !important;
    color: #fff !important;
}
.float-right dropdown
{
    background-color: white;
}
.nav{
    background-color: #49c5b6 !important;
}
/**Styling the color of the bobliography title*/
.bibTitle
{
    color:white;
}

/**Overriding the color of the header of the ng2-smart-table to match it with the theme*/
.ng2-smart-sort-link 

{
    color:teal;
}

/**Overriding the color of the references link in ng2 smart table to teal.*/
[_nghost-c2] a {
    color: teal !important;
    
}
// To change the padding
.dropdown-wrapper {
    padding: 6px 16px !important;
    border: 1px solid rgb(206, 205, 201);
    cursor: pointer;
    outline: none;
    color: rgb(110, 108, 105);
    &:focus {
        border: 1px solid #80bdff;
    }
    *, ::after, ::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .dropdown {
        /* Styles */
        background: #fff;
        border-radius: 0 0 5px 5px;
        border: 1px solid rgb(206, 205, 201);
        border-top: none;
        box-sizing: border-box;
        max-height: 400px;
        border-bottom: 1px solid rgb(206, 205, 201);
        /* Hover state */
        .option:hover  {
            color: #d15947;
        }
        .option {
            padding: 6px 16px !important;
            border-bottom: 1px solid rgb(206, 205, 201);
            text-decoration: none;
            color: rgb(110, 108, 105);
        }
    }
}
 
.caret {
    &::after {
        content: "▼";
        text-align: center;
    }
}

//changing the background of the dropdown menu of the multi select dropdown to make it look according to the theme
.multiselect-dropdown[_ngcontent-c3] .dropdown-btn[_ngcontent-c3] .selected-item[_ngcontent-c3] {
   
    background: #49c5b6 !important;
    
}

//changing the background of the checkbox of the multi select dropdown to make it look according to the theme
.multiselect-item-checkbox[_ngcontent-c3] input[type=checkbox][_ngcontent-c3]:checked + div[_ngcontent-c3]:before {
   
    background: #49c5b6!important;
}

//changing the background of the multi select dropdown to make it look according to the theme
.multiselect-item-checkbox[_ngcontent-c3] input[type=checkbox][_ngcontent-c3] + div[_ngcontent-c3]:before {
   
    color: #49c5b6!important;
   
    border: 2px solid #49c5b6!important;
   
}