<!--HTML file to display the user name, email id and two buttons to allow the user to change the username and password-->
<section class="content">
  <div class="block-header">
    <div class="row">


    </div>
  </div>
  <div class="container-fluid">

    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">
            <h2><strong>My Account Details</strong> </h2>
            <ul class="header-dropdown">

              <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
              </li>
            </ul>
          </div>
          <div class="body">
            <form class="form form-horizontal">

              <div class="header">

              </div>
              <div class="content">
                <div class="form-group row clearfix">
                  <div class="col-sm-4 form-control-label">
                    <label for="userName">Username</label>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <!--Disabling the username -->
                      <input id="userName" [disabled]="true" class="bold" type="text" class="form-control"
                        name="userName" [(ngModel)]="userName">
                    </div>

                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <a href="#changeUserName" data-toggle="modal" data-target="#changeUserName"
                        class="btn btn-primary btn-round ">Change Username</a>
                    </div>

                  </div>

                </div>


                <div class="form-group row clearfix">
                  <div class="col-sm-4 form-control-label">
                    <label for="email">Email</label>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                        <!--Disabling the email -->
                      <input id="email" type="text" class="bold" [disabled]="true" class="form-control" name="email"
                        [(ngModel)]="email">
                    </div>

                  </div>

                </div>

              </div>

              <div class="footer">

                <a href="#changePassword" data-toggle="modal" data-target="#changePassword"
                  class="btn btn-primary btn-round ">Change Password</a>


              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Pop up to be shown when the user clicks on change username button-->
<div class="modal fade" id="changeUserName" tabindex="-1" role="dialog"
  [ngStyle]="{'display': showRenameModal ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="changeUserNameLabel">Change User Name</h4>
      </div>
      <div class="modal-body">
        <form>
         
          <div class="form-group">
            <input type="text" id="newUserName" class="form-control" name="newUsername" [(ngModel)]="newUserName"
              placeholder="Enter new User Name">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <a href="#messageDisplayUserName" data-toggle="modal" (click)="changeUserName()" data-target="#messageDisplayUserName"> <button
            type="button" class="btn btn-primary btn-round waves-effect"
            data-dismiss="modal">changeUserName</button></a>


        <button type="button" class="btn btn-danger  btn-round waves-effect" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!--Pop up to be shown when the user clicks on Ok button of change userName popup -->
<div class="modal fade" id="messageDisplayUserName" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="messageDisplayUserNameLabel">Message</h4>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label>{{message}}</label>

          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal">Ok</button>


      </div>
    </div>
  </div>
</div>

<!--Pop up to be shown when the user clicks on Ok button of change password popup -->
<div class="modal fade" id="changePwdDisplayMessage" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="changePwdDisplayMessageLabel">Message</h4>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label>{{message}}</label>

          </div>
          <label>{{userInfoMessage}}</label>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="navigate()" class="btn btn-primary btn-round waves-effect"
          data-dismiss="modal">Ok</button>


      </div>
    </div>
  </div>
</div>

<!--Pop up to be shown when the user clicks on change password button -->
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="changePasswordLabel">Change Password</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="content">
            <div class="form-group row clearfix" [class.has-error]="cpwd.invalid && cpwd.touched">
              <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                <label for="password">Current Password</label>
              </div>
              <div class="col-lg-10 col-md-10 col-sm-8">
                <div class="form-group">
                  <input id="cpassword" #cpwd="ngModel" required type="password" class="form-control"
                    placeholder="Enter Current Password" name="currentPassword" [(ngModel)]="currentPassword">
                </div>
                <span class="help-block" *ngIf="cpwd.invalid && cpwd.touched">Current Password is required</span>
              </div>

            </div>



            <div class="form-group row clearfix" [class.has-error]="npwd.invalid && npwd.touched">
              <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                <label for="password">New Password</label>
              </div>
              <div class="col-lg-10 col-md-10 col-sm-8">
                <div class="form-group">
                  <input id="npassword" #npwd="ngModel" required type="password" class="form-control"
                    placeholder="Enter New Password" name="newPassword" [(ngModel)]="newPassword">
                </div>
                <!--Showing validation message-->
                <span class="help-block" *ngIf="npwd.invalid && npwd.touched">New Password is required</span>
              </div>

            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!--Navigating to the popup to display the message as received from the api-->
        <a href="#changePwdDisplayMessage" data-toggle="modal" (click)="changePassword()"
          data-target="#changePwdDisplayMessage"> <button type="button" class="btn btn-primary btn-round waves-effect"
            data-dismiss="modal">Change Password</button></a>


        <button type="button" class="btn btn-danger  btn-round waves-effect" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>