<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>

        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">

      </div>
    </div>
  </div>
  <div class="container-fluid">

    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">

            <h2><strong>{{activeLibraryName}}</strong> </h2>
            <ul class="header-dropdown">

              <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-sm-3">
                <!--On Clicking add reference or edit reference,Delete reference or move selected references, it will open the corresponding popup-->
                <a href="#addReferenceModal" data-toggle="modal" data-target="#addReferenceModal" title="Add Reference"
                  (click)="getEntryTypes()" class="btn btn-primary btn-round waves-effect">Add Reference</a>
                <a href="#editModal" data-toggle="modal" data-target="#editModal" title="Delete References"
                  (click)="getEntryTypes()" class="btn btn-primary btn-round waves-effect">Edit Reference</a>
              </div>
              <div class="col-sm-3">

              </div>

              <div class="col-sm-2">

              </div>

              <div class="col-sm-4">
                <a href="#deleteModal" data-toggle="modal" data-target="#deleteModal" title="Delete References"
                  class="btn btn-primary btn-round waves-effect">Delete Selected</a>
                <!--When the user selects move to another library another popup to select the either trash or unfiled library
                  will be shown-->
                <a href="#MoveSelectedReferencesModal" data-toggle="modal" data-target="#MoveSelectedReferencesModal"
                  title="Move References" (click)="getLibraries()" class="btn btn-primary btn-round waves-effect">Move
                  to
                  another Library</a>
              </div>
            </div>
            <div class="table-responsive">
              <div class="message"><strong>{{message}}</strong></div>
              <ng2-smart-table [settings]="settings" [source]="rows" (userRowSelect)="onUserRowSelect($event)">
              </ng2-smart-table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Pop up to be displayed when the juser clicks on add reference button-->
<div class="modal fade" id="addReferenceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title" id="addReferenceModalLabel">Add Reference</h4>
        </div>
        <div class="modal-body">
          <form method="POST" class="form-horizontal">
  
            <fieldset>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="entryType">Entry Type</label>
  
                </div>
                <div class=" col-lg-10 col-md-10 col-sm-8">
  
  
                  <!-- Using formcontrol names in all the fields to check if the required validation fails
                  In case the required validation is failed, required text is shown to the user -->
                  <select id="entryType" #entryTypeInput="ngModel" name="entryType" [(ngModel)]="entryType"
                    class="form-control" required>
  
                    <option *ngFor="let type of entryTypes" [value]="type.id">{{type.name}}
                    </option>
                  </select>
                  <span class="help-block" *ngIf="entryTypeInput.invalid && entryTypeInput.touched">Required</span>
  
                </div>
              </div>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="author">Author</label>
                </div>
                <!--Making author field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #authorInput="ngModel" class="form-control" id="author" name="author"
                    [(ngModel)]="author" required>
                  <span class="help-block" *ngIf="authorInput.invalid && authorInput.touched">Required</span>
                </div>
              </div>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="bookTitle">Book Title</label>
                </div>
                <!--Making bookTitle field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #bookTitleInput="ngModel" class="form-control" id="bookTitle" name="bookTitle"
                    [(ngModel)]="bookTitle" required>
                  <span class="help-block" *ngIf="bookTitleInput.invalid && bookTitleInput.touched">Required</span>
                </div>
              </div>
            </fieldset>
  
            <fieldset>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="editor">Editor</label>
                </div>
                <!--Making editor field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #editorInput="ngModel" class="form-control" id="editor" name="editor"
                    [(ngModel)]="editor" required>
                  <span class="help-block" *ngIf="editorInput.invalid && editorInput.touched">Required</span>
                </div>
              </div>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="title">Title</label>
                </div>
                <!--Making title field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #titleInput="ngModel" class="form-control" id="title" name="title"
                    [(ngModel)]="title" required>
                  <span class="help-block" *ngIf="titleInput.invalid  && titleInput.touched">Required</span>
                </div>
              </div>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="journal">Journal</label>
                </div>
                <!--Making journal field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #journalInput="ngModel" class="form-control" id="journal" name="journal"
                    [(ngModel)]="journal" required>
                  <span class="help-block" *ngIf="journalInput.invalid && journalInput.touched">Required</span>
                </div>
              </div>
  
  
            </fieldset>
  
            <fieldset>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="publisher">Publisher</label>
                </div>
                <!--Making publisher field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #publisherInput="ngModel" class="form-control" id="publisher" name="publisher"
                    [(ngModel)]="publisher" required maxlength="100">
                  <span class="help-block"
                    *ngIf="publisherInput.errors?.required && publisherInput.touched">Required</span>
                  <span class="help-block"
                    *ngIf="publisherInput.errors?.maxlength && publisherInput.touched">Required</span>
                </div>
              </div>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="year">Year</label>
                </div>
                <!--Making year field required as well as restricting it to numbers between 1880 and 2019 and showing error in case any of the validation fails-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="number" #yearInput="ngModel" class="form-control" id="year" name="year" [(ngModel)]="year"
                    required min="1880" max="2019">
                  <span class="help-block" *ngIf="yearInput.errors?.required && yearInput.touched">Required</span>
                  <span class="help-block"
                    *ngIf="(yearInput.errors?.min || yearInput.errors?.max) && yearInput.touched">Year must be between
                    1880 and 2019</span>
                </div>
              </div>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="volume">Volume</label>
                </div>
  
                <!--Making volume field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #volumeInput="ngModel" class="form-control" id="volume" name="volume"
                    [(ngModel)]="volume" required>
                  <span class="help-block" *ngIf="volumeInput.errors?.required  && volumeInput.touched">Required</span>
  
  
                </div>
              </div>
            </fieldset>
            <div class="modal-footer">
              <!--Disabling submit button untill the user enters value in all the fields of the form-->
              <button type="submit"
                [disabled]="volumeInput.invalid || volumeInput.invalid || publisherInput.invalid
              || journalInput.invalid || titleInput.invalid || editorInput.invalid || bookTitleInput.invalid || authorInput.invalid || entryTypeInput.invalid"
                class="btn btn-primary btn-round waves-effect"><a (click)="createReference()"
                  data-dismiss="modal">Submit</a></button>
              <button type="button" class="btn btn-danger btn-round waves-effect" data-dismiss="modal">No</button>
            </div>
          </form>
  
        </div>
  
      </div>
    </div>
  </div>
  
  
  <!--Pop up to be displayed when user clicks on Edit Reference button-->
  
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title" id="editModalLabel">Edit Reference</h4>
  
          <a role="button" class="boxs-close" data-dismiss="modal"><i class="zmdi zmdi-close"></i></a>
  
        </div>
        <div class="modal-body">
          <form method="POST" class="form-horizontal" *ngIf="checkedRows!==undefined && checkedRows.length>0;">
  
            <fieldset>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="entryType">Entry Type</label>
                </div>
                <div class=" col-lg-10 col-md-10 col-sm-8">
                  <!--Making entry type required and showing error in case it is left blank-->
                  <select id="entryType" #editEntryType="ngModel" name="entryType" [(ngModel)]="checkedRows[0].entryType"
                    class="form-control">
                    <option *ngFor="let type of entryTypes" [value]="type.id">{{type.name}}
                    </option>
                  </select>
                  <span class="help-block" *ngIf="editEntryType.invalid && editEntryType.touched">Required</span>
  
  
                </div>
              </div>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="author">Author</label>
                </div>
                <!--Making author field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #editAuthor="ngModel" class="form-control" id="author" name="author"
                    [(ngModel)]="checkedRows[0].author" required>
                  <span class="help-block" *ngIf="editAuthor.invalid && editAuthor.touched">Required</span>
                </div>
              </div>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="bookTitle">Book Title</label>
                </div>
                <!--Making Book Title field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #editBookTitle="ngModel" class="form-control" id="bookTitle" name="bookTitle"
                    [(ngModel)]="checkedRows[0].bookTitle" required>
                  <span class="help-block" *ngIf="editBookTitle.invalid && editBookTitle.touched">Required</span>
                </div>
              </div>
            </fieldset>
  
            <fieldset>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="editor">Editor</label>
                </div>
                <!--Making editor field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #editEditor="ngModel" class="form-control" id="editor" name="editor"
                    [(ngModel)]="checkedRows[0].editor" required>
                  <span class="help-block" *ngIf="editEditor.invalid && editEditor.touched">Required</span>
                </div>
              </div>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="title">Title</label>
                </div>
                <!--Making title field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #editTitle="ngModel" class="form-control" id="title" name="title"
                    [(ngModel)]="checkedRows[0].title" required>
                  <span class="help-block" *ngIf="editTitle.invalid && editTitle.touched">Required</span>
                </div>
              </div>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="journal">Journal</label>
                </div>
                <!--Making journal field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #editJournal="ngModel" class="form-control" id="journal" name="journal"
                    [(ngModel)]="checkedRows[0].journal" required>
                  <span class="help-block" *ngIf="editJournal.invalid && editJournal.touched">Required</span>
                </div>
              </div>
  
  
            </fieldset>
  
            <fieldset>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="publisher">Publisher</label>
                </div>
                <!--Making publisher field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #editPublisher="ngModel" class="form-control" id="publisher" name="publisher"
                    [(ngModel)]="checkedRows[0].publisher" required>
                  <span class="help-block" *ngIf="editPublisher.invalid && editPublisher.touched">Required</span>
                </div>
              </div>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="year">Year</label>
                </div>
                <!--Making year field required as well as allowing only numbers between 1880 and 2019-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="number" #editYear="ngModel" class="form-control" id="year" name="year"
                    [(ngModel)]="checkedRows[0].year" required min="1880" max="2019">
                  <span class="help-block" *ngIf="editYear.invalid && editYear.touched">Required</span>
                  <span class="help-block" *ngIf="(editYear.errors?.min || editYear.errors?.max) && editYear.touched">Year
                    must be between 1880 and 2019</span>
                </div>
              </div>
              <div class="row clearfix">
  
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="volume">Volume</label>
                </div>
                <!--Making volume field required and showing error in case it is left blank-->
                <div class="form-group form-float col-lg-10 col-md-10 col-sm-8">
                  <input type="text" #editVolume="ngModel" class="form-control" id="volume" name="volume"
                    [(ngModel)]="checkedRows[0].volume" required>
                  <span class="help-block" *ngIf="editVolume.invalid && editVolume.touched">Required</span>
                </div>
              </div>
            </fieldset>
            <!--Disabling submit button in case any of the fields of the form is left blank-->
            <div class="modal-footer">
              <button type="button" [disabled]="editVolume.invalid ||editYear.invalid || editPublisher.invalid || 
                editJournal.invalid || editTitle.invalid || editEditor.invalid || editBookTitle.invalid || editAuthor.invalid 
                || editEntryType.invalid" class="btn btn-primary btn-round waves-effect" data-dismiss="modal"><a
                  (click)="editReference()" data-dismiss="modal">Edit</a></button>
              <button type="button" class="btn btn-danger btn-round waves-effect" data-dismiss="modal">Cancel</button>
            </div>
          </form>
          <!--In order to display message and only ok button  in case user doesn't select any row for editing reference-->
          <form>
  
            <label *ngIf="checkedRows === undefined || checkedRows.length===0;">Please select at least one reference to
              edit</label>
  
          </form>
          <div class="modal-footer">
  
            <a *ngIf="checkedRows === undefined || checkedRows.length===0;" data-toggle="modal"><button type="button"
                class="btn btn-primary btn-round waves-effect" data-dismiss="modal">Ok</button></a>
  
          </div>
  
        </div>
  
      </div>
    </div>
  </div>

<!--Pop up to be shown when the user clicks on Delete Selected button-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="deleteModalLabel">Delete References</h4>
      </div>
      <div class="modal-body">
        <form>
          <!--If condition to check if the user has selected atleast one row-->
          <label *ngIf="checkedRows !== undefined && checkedRows.length>0;">Are you sure you want to delete the selected
            references?</label>
          <label *ngIf="checkedRows === undefined || checkedRows.length===0;">Please select at least one reference to
            delete</label>

        </form>
      </div>
      <div class="modal-footer">
        <!--If condition to check if the user has selected atleast one row-->
        <a *ngIf="checkedRows !== undefined && checkedRows.length>0;" data-toggle="modal"
          (click)="deleteReferences()"><button type="button" class="btn btn-primary btn-round waves-effect"
            data-dismiss="modal">Yes</button></a>
        <a *ngIf="checkedRows === undefined || checkedRows.length===0;" data-toggle="modal"><button type="button"
            class="btn btn-primary btn-round waves-effect" data-dismiss="modal">Ok</button></a>
        <button *ngIf="checkedRows !== undefined && checkedRows.length>0;" type="button"
          class="btn btn-danger btn-round waves-effect" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="MoveSelectedReferencesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="MoveSelectedReferencesModalLabel">Move Selected References</h4>
      </div>
      <div class="modal-body">
        <form>
          <!--If condition to check if the user has selected atleast one row-->
          <label *ngIf="checkedRows!==undefined && checkedRows.length>0">Please select the library where you want to
            move the selected references</label>

          <label *ngIf="checkedRows===undefined || checkedRows.length==0">Please select atleast one library to
            share</label>
          <ng-multiselect-dropdown *ngIf="checkedRows!==undefined && checkedRows.length>0"
            [placeholder]="'Select library'" [data]="dropdownList" name="selectedItems" [(ngModel)]="selectedItems"
            [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </form>
      </div>
      <div class="modal-footer">
        <!--If condition to check if the user has selected atleast one row and the move button is
          enabled only if the user selects at least one library-->
        <button *ngIf="checkedRows!==undefined && checkedRows.length>0"
          [disabled]="selectedItems===undefined ||selectedItems.length==0" type="button"
          class="btn btn-primary btn-round waves-effect" (click)="moveReferencesToAnotherLibrary()"
          data-dismiss="modal">
          Move</button>
        <button *ngIf="checkedRows===undefined || checkedRows.length==0" type="button"
          class="btn btn-primary btn-round waves-effect" data-dismiss="modal">
          Ok</button>
        <button *ngIf="checkedRows!==undefined && checkedRows.length>0" type="button"
          class="btn btn-danger btn-round waves-effect" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!--Pop up to display success or error message-->
<div class="modal fade" id="displayMessage" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="displayMessageLabel">Message</h4>
      </div>
      <div class="modal-body">
        <form>
          <label>{{message}}</label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>