
//using xl modal for adding and editing references as it has a 8 fields
.modal-xl{max-width:800px}@media (min-width:1200px){.modal-xl{max-width:1140px}}


@media (max-width:575.98px){.table-responsive{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch}}





//Styling the message that is received from api
.message
{
    text-align: center;
    color: #49c5b6!important;
}
