<!--HTML Page to display all the references of the user so that user can search them based on author or year or title or volume or publisher or book or entrytype-->
<section class="content">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
         
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
         
        </div>
      </div>
    </div>
    <div class="container-fluid">
 
      <div class="row clearfix">
        <div class="col-lg-12">
          <div class="card">
            <div class="header">
              <h2><strong>My All references</strong> </h2>
              <ul class="header-dropdown">
  
                <li class="remove">
                  <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                </li>
              </ul>
            </div>
            <div class="body">
                <div class="row">
             
            </div>
              <div class="table-responsive">
                <div class="message"><strong>{{message}}</strong></div>
                <ng2-smart-table [settings]="settings" [source]="rows" (userRowSelect)="onUserRowSelect($event)">
                </ng2-smart-table>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </section>
 