
/**using large modal for add reference and edit freference popup*/
.modal-xl{max-width:800px}@media (min-width:1200px){.modal-xl{max-width:1140px}}

/**Making table responsive*/
@media (max-width:575.98px){.table-responsive{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch}}

/**Styling ng-custom-select dropdown*/
.dropdown-wrapper {
    padding: 6px 16px !important;
    border: 1px solid rgb(206, 205, 201);
    cursor: pointer;
    outline: none;
    color: rgb(110, 108, 105);
    &:focus {
        border: 1px solid #80bdff;
    }
    *, ::after, ::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .dropdown {
        /* Styles */
        background: #fff;
        border-radius: 0 0 5px 5px;
        border: 1px solid rgb(206, 205, 201);
        border-top: none;
        box-sizing: border-box;
        max-height: 400px;
        border-bottom: 1px solid rgb(206, 205, 201);
        /* Hover state */
        .option:hover  {
            color: #d15947;
        }
        .option {
            padding: 6px 16px !important;
            border-bottom: 1px solid rgb(206, 205, 201);
            text-decoration: none;
            color: rgb(110, 108, 105);
        }
    }
}
 
.caret {
    &::after {
        content: "▼";
        text-align: center;
    }
}
/**Styling ng-multiselect dropdown*/
.multiselect-dropdown[_ngcontent-c3] .dropdown-btn[_ngcontent-c3] .selected-item[_ngcontent-c3] {
    border: 1px solid #337ab7;
    margin-right: 4px;
    background: #49c5b6 !important;
    padding: 0 5px;
    color: #fff;
    border-radius: 2px;
    float: left;
}
.multiselect-item-checkbox[_ngcontent-c3] input[type=checkbox][_ngcontent-c3]:checked + div[_ngcontent-c3]:before {
    -webkit-animation: .2s ease-in borderscale;
    animation: .2s ease-in borderscale;
    background: #49c5b6!important;
}
.multiselect-item-checkbox[_ngcontent-c3] input[type=checkbox][_ngcontent-c3] + div[_ngcontent-c3]:before {
    box-sizing: content-box;
    content: '';
    color: #49c5b6!important;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 2px solid #49c5b6!important;
    text-align: center;
    transition: all .4s ease;
}
.message
{
    text-align: center;
    color: #49c5b6!important;
}

.help-block
{
    color:red;
    font-size: 8px;
}