<!--HTMl page to render all the libraries shared by the logged in user-->
<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
      
      </div>
    
    </div>
  </div>
  <div class="container-fluid">
    
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">
            <h2><strong>{{name}}</strong> </h2>
            <ul class="header-dropdown">

              <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
              </li>
            </ul>
          </div>
          <div class="body">
            <!--Panel to show the libraries based on the data received from api.-->
            <div class="row clearfix">
              <div class="col-md-12 col-lg-12">
                <!--Ids are made dynamic according to the libraryId which is assigned to the rows-->
                <!--So the number of panels will depend on the length of the rows variable-->
                <div class="panel-group" attr.id="accordion_{{ row.id }}" *ngFor="let row of rows;" role="tablist"
                  aria-multiselectable="true">
                  <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" attr.id="headingOne_{{ row.id }}">
                    
                      <h4 class="panel-title"> <a role="button" data-toggle="collapse"
                          attr.data-parent="#accordion_{{ row.id }}" href="#collapseOne_{{ row.id }}"
                          aria-expanded="true" attr.aria-controls="collapseOne_{ {row.id }}">
                          {{row.libraryName}}  <small> (Click to see the users with whom you have shared) </small></a> </h4>
                    </div>
                    <div attr.id="collapseOne_{{ row.id }}" class="panel-collapse collapse in" role="tabpanel"
                      attr.aria-labelledby="headingOne_{{ row.id }}">
                      <div class="panel-body">
                          <a href="#unShareLibraryModal" data-toggle="modal" data-target="#unShareLibraryModal" title="Add Library"
                         (click)="getClickedLibraryId(row.libraryName,row.id)" class="btn btn-primary btn-round waves-effect">Unshare</a>
                        <!--Table to display the users with whom the logged in user has shared library for each library shared-->
                         <ng2-smart-table [settings]="settings" [source]="row.users" (custom)="onCustom($event)"
                          (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>
                         
                      </div>
                    </div>
                  </div>
                </div>
                    <!--Message to be displayed if no rows are received from api-->
                <div *ngIf="rows===undefined || rows.length==0">
                  <h4 class="info">You have not shared any library yet!!!</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<div class="modal fade" id="unShareLibraryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title" id="unShareLibraryModalLabel">Unshare Library</h4>
        </div>
        <div class="modal-body">
          <form>
  
            <label *ngIf="checkedRows !== undefined && checkedRows.length>0;">Are you sure you want to want to unshare {{clickedLibraryName}} with the selected users?
            </label>
            <label *ngIf="checkedRows === undefined || checkedRows.length==0;">Please select atleast one user to
              unshare</label>
  
          </form>
        </div>
        <div class="modal-footer">
          <a *ngIf="checkedRows !== undefined && checkedRows.length>0;" href="#unshareMessage" data-toggle="modal"
           (click)="unShare()" data-target="#unshareMessage"><button type="button" class="btn btn-primary btn-round waves-effect"
              data-dismiss="modal">Yes</button></a>
          <button *ngIf="checkedRows === undefined || checkedRows.length==0;" type="button"
            class="btn btn-primary btn-round waves-effect" data-dismiss="modal">Ok</button>
          <button *ngIf="checkedRows !== undefined && checkedRows.length>0;" type="button"
            class="btn btn-danger btn-round waves-effect" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="unshareMessage" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="title" id="unshareMessageLabel">Message</h4>
          </div>
          <div class="modal-body">
            <form>
              <label>{{message}}</label>
    
    
    
    
            </form>
          </div>
          <div class="modal-footer">
            <a (click)="refreshAfterUnshare()"  type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal">Ok</a>
    
    
          </div>
        </div>
      </div>
    </div>