/**Styling lists*/
.list-group-item
{
    vertical-align: center;
}
[_nghost-c2] table tr td, [_nghost-c2] table tr th {
    font-size: .875em;
    margin: 0;
    padding: .5em 1em;
    text-align: center !important;
}
/**Styling the rows and headers of ng-2smart-table.*/
:host /deep/ ng2-smart-table .table > tr > th {
    text-align: center !important;
}
.info
{
    color: #49c5b6;
}

/**Styling panel*/
.panel-group .panel .panel-heading a {
    display: block;
    padding: 10px 15px;
    background-color: #49c5b6!important;
    font: white!important;
    color: white;
}
small
{
 color:black;
 font-size: 10px;

}