<!--HTML Page to display the references of the trash library and allow the user to empty the trash library-->
<section class="content">
  <div class="block-header">
    <div class="row">
   
     
    </div>
  </div>
  <div class="container-fluid">
   
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">
            <h2><strong>My Trash Library</strong></h2>
            <ul class="header-dropdown">
             
              <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
              </li>
            </ul>
          </div>
          <div class="body">


            <a href="#emptyTrashModal" data-toggle="modal" data-target="#emptyTrashModal" title="Add Reference"
              class="btn btn-primary btn-round waves-effect">Empty Trash</a>
           
            <div class="table-responsive">
                <div class="message"><strong>{{message}}</strong></div>
              <ng2-smart-table class="table" [settings]="settings" [source]="rows" (userRowSelect)="onUserRowSelect($event)">
              </ng2-smart-table>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>

<div class="modal fade" id="emptyTrashModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="emptyTrashModalLabel">Empty Tash</h4>
      </div>
      <div class="modal-body">
        <form>

          <label >Are you sure you want to empty your trash library?</label>
         

        </form>
      </div>
      <div class="modal-footer">
        <a  data-toggle="modal"
          (click)="emptyTrash()"><button type="button" class="btn btn-primary btn-round waves-effect"
            data-dismiss="modal">Yes</button></a>
      
        <button  type="button"
          class="btn btn-danger btn-round waves-effect" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

