.success{
    color: green;
    align-content: center;
    display:block;
}

.authentication .card-plain {
    border-radius: .55rem;
    padding-bottom: .7rem;
    max-width: 730px;
}
.help-block
{
    color:red;
}
.error
{
    color:red;
}