<!--html page to show verify forgot password page to the user-->
<div class="authentication sidebar-collapse">
  <div class="page-header">
    <div class="container">
      <div class="col-lg-12 content-center">
        <div class="card-plain">
          <form class="form form-horizontal">
            <div class="header">
              <div class="logo-container expandUp">
                <img src="assets/images/bibliographyicon.png" alt="">
              </div>
              <h5>Verify Forgot Password</h5>
              <span class="success" *ngIf="messageFromServer===undefined">{{message}}</span>
              <span class="error">{{messageFromServer}}</span>
            </div>
            <div class="content">

              <!--Adding required and email validation for the email field and showing error in case any of the validation fails-->
              <div class="form-group row clearfix" [class.has-error]="mail.invalid && mail.touched">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="email">Email</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                    <input id="email" #mail="ngModel" required [email]="email!==''" type="text" class="form-control"
                      placeholder="Enter Email" name="email" [(ngModel)]="email">
                  </div>
                  <span class="help-block" *ngIf="mail.errors?.required && mail.touched">Email is required</span>
                  <span class="help-block" *ngIf="mail.errors?.email && mail.touched">Email is Invalid</span>
                </div>

              </div>
              <!--Adding required validation for the token field and showing error in case the validation fails-->
              <div class="form-group row clearfix" [class.has-error]="tokenEntered.invalid && tokenEntered.touched">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="token">Token</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                    <input id="token" #tokenEntered="ngModel" required type="password" class="form-control"
                      placeholder="Enter Token" name="token" [(ngModel)]="token">
                  </div>
                  <span class="help-block" *ngIf="tokenEntered.invalid && tokenEntered.touched">Token is required</span>
                </div>

              </div>
              <!--Adding required validation for the password field and showing error in case the validation fails-->
              <div class="form-group row clearfix" [class.has-error]="pwd.invalid && pwd.touched">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="password">Password</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                    <input id="password" #pwd="ngModel" required type="password" class="form-control"
                      placeholder="Enter Password" name="password" [(ngModel)]="password">
                  </div>
                  <span class="help-block" *ngIf="pwd.invalid && pwd.touched">Password is required</span>
                </div>

              </div>


            </div>

            <div class="footer">
              <a routerLink="/signin">Click here to Login</a>
              <a (click)="verify()"
                class="btn btn-primary btn-round btn-lg btn-block waves-effect waves-light">Verify</a>

            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>