<div class="authentication sidebar-collapse">
    <!-- Navbar -->
    <!--HTML page to verify the user after sign up.-->
    <div class="page-header">
      <div class="container">
        <div class="col-lg-12 content-center">
          <div class="card-plain">
            <form class="form form-horizontal">
              <div class="header">
                <div class="logo-container expandUp">
                  <!--Changing the logo for the bibliography manager-->
                    <img src="assets/images/bibliographyicon.png" alt="">
                </div>
              
                <span>Verify Account</span>
              </div>
              <div class="content">
                <!--Adding required and email validation for email field and showing error in case the validation fails-->
                  <div class="form-group row clearfix"[class.has-error]="mail.invalid && mail.touched">
                      <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                          <label for="email">Email</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8">
                          <div class="form-group">
                            <input id="email" #mail="ngModel" required [email]="email!==''" type="text" class="form-control" placeholder="Enter Email" name="email" [(ngModel)]= "email">
                          </div>
                          <span class="help-block" *ngIf= "mail.errors?.required && mail.touched">Email is required</span>
                          <span class="help-block" *ngIf= "mail.errors?.email && mail.touched">Email is Invalid</span>
                        </div>
                   
                  </div>
             
               <!--Adding required validation for token field and showing error in case the validation fails-->
                <div class="form-group row clearfix"[class.has-error]="tokenEntered.invalid && tokenEntered.touched">
                    <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                        <label for="token">Token</label>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-8">
                        <div class="form-group">
                          <input id="token" #tokenEntered="ngModel" required type="password" class="form-control" placeholder="Enter Token" name="token" [(ngModel)]= "token">
                        </div>
                        <span class="help-block" *ngIf= "tokenEntered.invalid && tokenEntered.touched">Token is required</span>
                      </div>
                 
                </div>
               
              </div>
             
              <div class="footer">
                <a (click)="verify()" class="btn btn-primary btn-round btn-lg btn-block waves-effect waves-light">Verify Account</a>
                
              </div>
            </form>
          </div>
        </div>
      </div>
     
    </div>
  </div>