<section class="content">
    <div class="block-header">
      <div class="row">
      
     
      </div>
    </div>
    <div class="container-fluid">
   
      <div class="row clearfix">
        <div class="col-lg-12">
          <div class="card">
            <div class="header">
              <h2><strong>Libraries shared with me</strong></h2>
              <ul class="header-dropdown">
              
                <li class="remove">
                  <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                </li>
              </ul>
            </div>
            <div class="body">
               
              <a href="#renameModal" data-toggle="modal" data-target="#renameModal" title="Rename Selected"
                class="btn btn-primary btn-round waves-effect">Rename Selected</a>
             
              <div class="table-responsive">
                  <div class="message"><strong>{{message}}</strong></div>
                <ng2-smart-table [settings]="settings" [source]="rows" (custom)="onCustom($event)"
                  (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>
             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  