<section class="content">
    <div class="block-header">
      <div class="row">
      
      
      </div>
    </div>
    <div class="container-fluid">
    
      <div class="row clearfix">
        <div class="col-lg-12">
          <div class="card">
            <div class="header">
              <h2><strong>My Unfiled Library</strong> </h2>
              <ul class="header-dropdown">
              
                <li class="remove">
                  <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                </li>
              </ul>
            </div>
            <div class="body">
             
             
                  <div class="table-responsive">
                      <label>{{message}}</label>
                      <ng2-smart-table [settings]="settings" [source]="rows" 
                      (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 col-lg-12">
          <div class="panel-group" attr.id="accordion_{{ row.id }}" *ngFor="let row of rows;" role="tablist" aria-multiselectable="true">
              <div class="panel panel-primary">
                  <div class="panel-heading" role="tab" attr.id="headingOne_{{ row.id }}">
                      <h4 class="panel-title"> <a role="button" data-toggle="collapse" attr.data-parent="#accordion_{{ row.id }}" href="#collapseOne_{{ row.id }}" aria-expanded="true" attr.aria-controls="collapseOne_{ {row.id }}"> Collapsible Group Item #1 </a> </h4>
                  </div>
                  <div attr.id="collapseOne_{{ row.id }}" class="panel-collapse collapse in" role="tabpanel" attr.aria-labelledby="headingOne_{{ row.id }}">
                      <div class="panel-body"> <ng2-smart-table [settings]="settings" [source]="rows" (custom)="onCustom($event)"
                        (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table> </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
  </section>
 